<!DOCTYPE html>
<html lang="en" xmls:th="" xmlns:xmls="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Business Card - Tomasz Wodzinski</title>
    <link rel="stylesheet" href="/common.css">
</head>
<body background="/background.JPG">
<div id="header">
    <p>Tomasz Wodziński<br>
        Junior Java Developer
    </p>
</div>
<div id="menu">
    <a href="/" class="button">STRONA GŁÓWNA</a>
    <a href="/form" class="button">FORMULARZ</a>
</div>
<div id="header2">
</div>
<div id="content">
   <p>Cześć. Zapraszam do kontaktu.</p>
</div>
</body>
</html>